body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#board {
	background-color:#DCDCDC;
	border-radius: 10px;
	padding: 3px;
	width: 610px;

}

.board-row {
	display: flex;
	justify-content: space-around;
	height: 56px;
}

h5 {
	margin: 2px;
	text-align: center;
}

.type {
	width: 96%;
	margin: 4px auto;
	border-radius: 10px;
	background-color: #A9A9A9;
	padding: 7px;

}

button.MuiButton-root {
	margin: 4px;
	width: 100%;
	font-size: 13px;
}

.bvbRow button.MuiButton-root {
	font-size: 13px;
}

.holeinput {
	width: 80px;
	margin-right: 15px;

}

.finalRow {
	display: flex; 
	flex-direction: row;
	margin: 5px;
	}

/*change the padding for emphasis on the final row, as well as change text color to white on submit*/

.finalRow button.MuiButton-root {
	padding: 3px;
	color: #ffffff;
}


button.MuiIconButton-root {
	border-radius: 10px;
	height:40px;
	align-self: center;
	background-color: #ffffff;
}

.MuiInput-underline:before {
    border-bottom: 1px solid #ffffff;
}



.finalRow .resultField{
	background-color:#fff; 
	text-align:left; 
	vertical-align: middle; 
	padding: 15px 15px;
	margin-left: auto;
	border-radius: 7px;
}

.finalRow .freqBorder{
	border:1px solid #ccc!important;
	margin-left: 10px;
	margin-right: 10px;
	width: 70px;
	height: 40px;
	background-color: #fff;
}

.finalRow .freqBorder .bar {
	color: #000!important;
	background-color:#9e9e9e!important;
	height:40px;
	width:70%;
}

